/node_modules
/package-lock.json
*.drawio
.DS_Store
# VS Code Config file
.vscode/

# Build files
packages/*/lib/
docs/.vuepress/.cache
docs/.vuepress/.cache/deps
docs/.vuepress/.temp
docs/.vuepress/dist/
.idea
/draft
